<div class="backdrop is-hidden" modal--ice-cream1>
<div class="modal--ice-cream">
    <div class="modal__ice-cream">
        <img src="../images/modal-products/home-pic1.png" alt="ice-cream1" class="modal__ice-cream--image">
        <p class="modal__ice-cream--about part1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tenetur maiores
            ea! Temporibus, quidem!
            Eos, quod unde. Nisi accusantium, repellendus rerum quasi, perspiciatis repellat autem maxime, fugit
            culpa ipsa vel?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, porro. Autem, earum hic quos nam eveniet
            eaque amet tempora, in repellendus, dolor laudantium adipisci placeat fugiat ea vero beatae explicabo?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus blanditiis temporibus laboriosam
            facere tempore veniam ut fugit atque sit praesentium. Impedit consectetur esse delectus nostrum illum!
            Commodi id provident voluptates.
        </p>
    </div>
    <button modal--ice-cream1-close class="modal__modal-button">
        <svg class="modal__modal-button-icon">
            <use href="./images/hero-img/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
</div>
</div>
<div class="backdrop is-hidden" modal--ice-cream2>
    <div class="modal--ice-cream">
        <div class="modal__ice-cream">
            <img src="../images/modal-products/home-pic2.png" alt="ice-cream2" class="modal__ice-cream--image">
            <p class="modal__ice-cream--about part1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tenetur maiores ea! Temporibus, quidem!
                Eos, quod unde. Nisi accusantium, repellendus rerum quasi, perspiciatis repellat autem maxime, fugit
                culpa ipsa vel?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, porro. Autem, earum hic quos nam eveniet
                eaque amet tempora, in repellendus, dolor laudantium adipisci placeat fugiat ea vero beatae explicabo?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus blanditiis temporibus laboriosam
                facere tempore veniam ut fugit atque sit praesentium. Impedit consectetur esse delectus nostrum illum!
                Commodi id provident voluptates.
            </p>
        </div>
        <button modal--ice-cream2-close class="modal__modal-button">
            <svg class="modal__modal-button-icon">
                <use href="./images/hero-img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>
    <div class="backdrop is-hidden" modal--ice-cream3>
        <div class="modal--ice-cream">
            <div class="modal__ice-cream">
                <div class="image">
                <img src="../images/modal-products/home-pic3.png" alt="ice-cream3" class="modal__ice-cream--image">
                <p class="modal__ice-cream--about part1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tenetur maiores
                    ea! Temporibus, quidem!
                    Eos, quod unde. Nisi accusantium, repellendus rerum quasi, perspiciatis repellat autem maxime, fugit
                    culpa ipsa vel?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, porro. Autem, earum hic quos nam eveniet
                    eaque amet tempora, in repellendus, dolor laudantium adipisci placeat fugiat ea vero beatae explicabo?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus blanditiis temporibus laboriosam
                    facere tempore veniam ut fugit atque sit praesentium. Impedit consectetur esse delectus nostrum illum!
                    Commodi id provident voluptates.
                </p>
            </div>
            <button modal--ice-cream3-close class="modal__modal-button">
                <svg class="modal__modal-button-icon">
                    <use href="./images/hero-img/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>